
.modClass{
    position: relative;
    top: 0px;
    left: 25px;
    border: 5px solid #000000;
    height: 100px;
    width: 700px;
}

.submitButtonClass{
    background-color: #ff0000;
    color: white;
    width: 150px;
    height: 55px;
}

.dataClass{
    position: relative;
    top: 5px;
    left: 25px;
    border: 5px dashed #000000;
    border-radius: 15px;
    background-color: #f5f5f5;
    height: 300px;
    width: 700px;
}

.titleClass {
    text-align: center;
    width: 100%;
    font-size: 26pt;
}