/* You can add global styles to this file, and also import other style files */


.localStoreButton{
    text-align: center;
    background-color: #008000;
    color: #ffffff;
    height: 45px;
    font-size: 18pt;
    border: 5px ridge #000000;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 20px;
    
}